body {
    font-family: Arial;
    font-size: 14pt;
    margin: 30px;
}
input {
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    font-size: 1em;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1em;
}
input:focus {
    border-color: #3964fc;
}
input[type="submit"] {
    border-radius: 10px;
    border: 1px outset #666;
    cursor: pointer;
    padding: 0.8em 1em;
    background-color: #def;
}
input[type="submit"]:hover {
    border-style: inset;
}
#question_math {
    color: #559;
    font-size: 2em;
    padding: 1em;
}
.optionerror {
    border: 1px solid #f00;
}
#options_error {
    color: #c30;
}
#op_wrapper {
    display: table-cell;
    padding: 0.2em 1em;
}